

// Type

// Colors
$body-bg: #F5F5F6;
$primary: #2D4168;
$secondary: #F1F1F5;
$tertiary: #FCF8F0;
$info: #43AEBE;
$success: #43BE5B;
$warning: #FF8161;
$danger: #FF6161;

$color-grey: #6A6E75;
$subtle-grey: #F1F1F5;

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';
